python-dotenv
openai
Pillow
reportlab
scikit-learn
numpy
boto3
google-generativeai
matplotlib
seaborn
kaleido
plotly
questionary
groq
anthropic
mistralai
writerai==4.0.1
tiktoken>=0.7.0
typing-inspection==0.4.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
wcwidth==0.2.13